.calculaHora
{
	background-color: #f5f5f5;
	display: -webkit-flex;
	-webkit-align-items: flex-start;
}

	.calculaHora .horas
	{
		width: 160px;
		padding: 5px;
		margin: 5px;
		border: 2px solid #b0b0b0;
	}

		.calculaHora .horas header
		{
			text-align: center;
			font-weight: bold;
		}

		.calculaHora .horas label
		{
			width: 80px;
			float: left;
			text-align: right;
			margin-top: 5px;
			margin-right: 5px;
		}

		.calculaHora .horas #horaSaida
		{
			border-top: 2px solid #e0e0e0;
			padding-top: 3px;
			margin-top: 3px;
		}

	.calculaHora #mensagem
	{
		width: 500px;
		height: 300px;
		padding: 5px;
		margin: 5px;
		border: 2px solid #dbdbdb;
		background-color: #fbfbfb;
	}
